@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #202020;
    color: white;
  }
  
  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }
  
  .nav-link {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  
  header img {
    width: 100%;
  }